/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 22/11/2017, 13:45:15
    Author     : Ton


.ui-stack {
    bottom: 50px;
    right: 100px;
}

*/

.botaoAlinhamento {
    text-align: center;
}
